.glass {
  background: rgba(16, 16, 16, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.red {
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px;
  animation: 13s red infinite;
  border: dotted 2px red;
  box-shadow: 0 0 20px #111 inset, 0 0 10px red;
}

.yellow {
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  background-size: 5px 5px;
  border: dotted 2px yellow;
  animation: 13s yellow infinite;
  box-shadow: 0 0 20px #111 inset, 0 0 10px yellow;
}

.green {
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  border: dotted 2px lime;
  box-shadow: 0 0 20px #111 inset, 0 0 10px lime;
  animation: 13s green infinite;
}

@keyframes red {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes yellow {
  0% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.1;
  }

  86% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes green {
  0% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  83% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.1;
  }
}
